<h2>Edit your data</h2>


<div id= 'wrapper'></div>
<form action="/profile-edit" method="POST">

  {{#if error}}
        <div class='error'>{{error}}</div>
    {{/if}}

<input id="firstname" name="firstname" type="text" placeholder='Firstname*' value="{{firstname}}">


<input id="lastname" name="lastname" type="text" placeholder='Lastname*' value="{{lastname}}"><br>


<input id="age" name="age" type="text" placeholder='Age*' value="{{age}}">

<input id="city" name="city" type="text" placeholder='City' value="{{city}}"> <br><br>

<input id="password" name="password" type="text" placeholder='Password'><br>
    <span>No input if you don't change your password.</span><br><br>

<input id="email" name="email" type="text" placeholder='Email*' value="{{email}}">

<input id="homepage" name="homepage" type="url" placeholder='Homepage' value="{{homepage}}"><br><br>

<input type="hidden" name="_csrf" value="{{csrfToken}}">
<button type="submit">Update your data</button>



</form>

</div>