<h2>TELL US MORE ABOUT YOU!</h2>


<h3></h3>
<img src="https://douzepoints.ch/wp-content/uploads/2019/12/Stage-2-1024x502.jpg" width="400" height='200'>

<div id= 'wrapper'>

<form  method='POST' action='/profile'>

    {{#if error}}
        <div class='error'>{{error}}</div>
    {{/if}}



   
     <input id='age' type='text' name='age' placeholder='Age*' value='{{age}}'>

      <input id='city' type='text' name='city' placeholder='City*' value='{{city}}'>

  <input id='city' type='text' name='homepage' placeholder='Homepage*' value='{{city}}'>

   

    <button type='submit'>SEND DETAILS</button>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">

<p>Ready for the ultimate step? Click here <a href="/"> to sign the petition.</a>.</p>



</form>
</div>