<h1>PEOPLE WHO SIGNED OUR PETITION</h1> <br>
<ul>
{{#each signers}}
    <li id="signers">
        {{firstname}} {{lastname}}
        {{age}} years young from {{city}}.
        <a href="{{homepage}}"> Have a look to his/her Homepage.</a>


    </li>

{{/each}}
</ul>