<h1>PEOPLE WHO SIGNED OUR PETITION</h1> <br>
<ol>
{{#each signers}}
    <li>
        {{firstname}} {{lastname}}
        {{age}} years young from wondefull {{city}}.
        <a href="{{homepage}}"> Homepage</a>


    </li>

{{/each}}
</ol>