<h1>MAKE THE <br><img class=""
        src="https://upload.wikimedia.org/wikipedia/de/thumb/e/e1/Eurovision_Song_Contest.svg/800px-Eurovision_Song_Contest.svg.png"
        width="400" height='100'> <br>A NATIONAL HOLIDAY</h1>





<h2>Thank you for singing in {{firstname}} {{lastname}}!</h2>

<div id='wrapper'>
    <div class ='signature_bg'>
        <img src="{{signatureCode}}" alt="">
        </div>

        <div class ='text_bg_thank_you'>

        <p>Thanks a lot for signing the petition! <br>

            <a href="/signers">Those are the other people who share our passion</a></p>
        <br>

        <form action="/unsign-petition" method="POST">
            If you like to remove your signature from this petition,
            push the button bellow: <br> <br>
            <button type="submit">UNSIGN</button><br><br>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">


            For changing your profile details: <a href="/profile-edit">here you can </a></p><br>

        </form>
        <form action="/logout" method="POST">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <button type="submit">LOGOUT</button><br><br>

        </form>

    </div>
</div>